.content {

    grid-area: c;
    background-color: rgba(210, 105, 30, 0.4);

}

.panorama {
    width: 100%;
}

.postsBlock {
    padding: 0 1vw 0 1vw;
    border-left: 2px solid rgba(0, 0, 0, 0.14);

}

.postsBlock h3 {
    text-align: center;
}

.posts {
    margin-top: 10px;
}

.post_input textarea {
    resize: none;
    padding: 0;
    width: 97%;
    border: 5px solid rgba(0, 0, 0, 0);
    border-right: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.31);


}


.post_input textarea:focus {
    border-radius: 0;
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
}
