.content {

    grid-area: c;
    background-color: rgba(210, 105, 30, 0.4);

}

.panorama {
    width: 100%;
}

.postsBlock {
    padding: 0 3vw 0 3vw;
    border-left: 2px solid rgba(0, 0, 0, 0.14);

}

.posts {
    margin-top: 10px;
}