.formControl.error input {

}

.formControl.error textarea {
    border: solid rgba(255, 0, 0, 0.74) 3px;
}

.formControl.error span {
    color: red;
}

.formCommonError {
    width: 90%;
    border: red 1px solid;
    padding: 5px;
    color: crimson;
}

.formControl textarea {
    background-color: rgba(0, 0, 0, 0);
    height: auto;
    font-size: 15px;
    resize: none;
    overflow: hidden;
}

.formControl .spamnnn {
    border: none;
    outline: none;
    word-wrap: break-word;
    word-break: break-all;
}

.formControl {
    padding: 5px;
    width: auto;
}
