.nav {
    padding: 3%;
    font-size: calc(0.5vw + 15px);
    grid-area: n;
    background-color: rgb(138, 143, 164);
}

.nav_items {
    gap: 10px;
    justify-items: center;
    align-items: start;
    grid-template-rows: 1fr 1fr 1fr;
    display: grid;

}

.item a {
    color: white;
    text-decoration: none;
}

.item .activeLink {
    color: lightblue;
    text-shadow: 3px 3px 3px black;
}

.friends_item {
    display: flex;
}

.friends {
    text-align: center;
    margin-top: 50px;
    color: white;
}

@media (max-device-width: 1100px) {
    .nav {
        padding: 5px;
    }

    .nav_items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}