.post {
    margin: 10px 0;
    border: 2px solid rgba(0, 0, 0, 0.31);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr auto 50px;

}

.post form {
    display: block;
}

.post_owner {
    font-weight: 500;
    margin: 10px;
    align-self: center;
    justify-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.post_owner div {
    text-align: center;
}

.post_data {
    margin: 10px;
    align-self: start;
    justify-self: end;
    grid-column: 2 / 3;
    grid-row: 1 / 2;

}

.post_text {
    word-wrap: break-word;
    border-bottom: 2px solid rgba(0, 0, 0, 0.23);
    margin: 10px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.post_likes {
    margin: 10px;
    align-self: end;
    position: relative;
}

.post_likes img, .post_edit button {
    transition-duration: 400ms;
}

.post_likes img:hover {
    cursor: pointer;
    -webkit-filter: brightness(70%) hue-rotate(15deg) contrast(150%);
    filter: brightness(70%) hue-rotate(15deg) contrast(150%);
}

.post_likes_like_count {
    cursor: default;
}

.post_owner_img {
    width: 60px;
    height: 60px;
}

.post_edit {
    margin: 10px;
    align-self: end;
    justify-self: end;
}

@keyframes tooltips-vert {
    to {
        opacity: 1;
        transform: translate(0, 20px);
    }
}

.post_likes_users {
    background-color: rgba(0, 0, 0, 0.58);
    padding: 10px 0;
    max-width: 450px;
    border-radius: 5px;
    height: auto;
    display: none;
    opacity: 0;
    position: absolute;
    bottom: 70px;
    animation: tooltips-vert 300ms ease-out forwards;

}

.post_likes_img {
    position: relative;
}

.post_likes:hover .post_likes_users {
    transition-duration: 500ms;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));

}

.post_likes_users::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 20px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.58) transparent transparent transparent;
}


.post_like_user_element img {
    border-radius: 50%;
    width: 50px;
    height: 50px;

}

.post_like_user_element {
    word-break: break-all;
    color: white;
    display: grid;
    justify-items: center;
    width: 90px;


}

.post_like_user_element_name {
    height: 100%;
    text-align: center;
    padding: 5px;
}

.show_all_users {
    grid-column: span 2 / -1;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.44);
    margin: 5px;
    padding: 8px;
    width: auto;
    cursor: pointer;
    color: white;
    height: auto;
    white-space: nowrap;
    align-self: center;
    justify-self: center;
    transition-duration: 300ms;

}

.show_all_users:hover {
    text-shadow: 0px 0px 10px #ffffff;
    background-color: rgba(0, 0, 0, 0.6);

}

.post_text_editor {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 40px 40px auto;
    grid-template-rows: auto 40px;
}

.post_text_editor form {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

.post_text_editor textarea {
    height: auto;
    width: 95%;
    outline: none;
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.23);
    resize: none;
}

.post_text_editor button {
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    color: rgba(113, 158, 206, 0);
    width: 40px;
    height: 40px;
    transition-duration: 400ms;
}

.post_text_editor > button {
    background-image: url("../../../../media/cross_mark.png");
    justify-self: end;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    bottom: 0;
    left: 0;
}

.post_text_editor form button {
    background-image: url("../../../../media/check_mark.png");
}

@media (max-device-width: 720px) {
    .post_likes_users {
        max-width: 320px;
    }
}
