.app-wraper {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    display: grid;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    z-index: 2;
}


.app-wraper-content {
    grid-area: c;
    background-color: rgb(255, 255, 255);

}

.panorama {
    width: 100%;
}

@media (max-device-width: 1100px) {
    .app-wraper {
        width: 100%;
        display: grid;
        grid-template-areas: "h h" "n n" "c c";
        grid-template-rows: 60px 60px 10fr;
        grid-template-columns: 2fr 10fr;
        grid-gap: 10px;
    }
}

#bg {
    position: fixed;
    top: -3%;
    left: -3%;
    filter: blur(18px);
    width: 106%;
    height: 106%;
    -webkit-filter: blur(18px);
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}